{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Sum Sq Difference Service - Frontend</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
</head>
<!--templates/home.html-->
<body>
    <div class='row' style='padding:15px;'>
        <form action=''>
        <div class='col-md-2 col-md-offset-5'>
            <input class='form-control' id='id_number' name='number' type='text' placeholder='Enter 0 < number <= 100'>
        </div>
        <div class='col-md-2 col-md-offset-5' style='text-align:center;'>
            <input type='submit' class='btn btn-primary' value='Compute' id='id_submit'> 
        </div>
        </form>
    </div>

    <div class='alert alert-danger' id='error_blk' style='display:none;'>
        Invalid input! Please enter a number between 0 and 100
    </div>
    <div class="row" id='success_blk' style='display:none;'>
        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th scope='col'>datetime</th>
                    <th scope='col'>value</th>
                    <th scope='col'>number</th>
                    <th scope='col'>occurrences</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th id='datetime_row'></th>
                    <th id='value_row'></th>
                    <th id='number_row'></th>
                    <th id='occurrences_row'></th>
                </tr>
            </tbody>
        </table>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{% static 'js/service.js' %}"></script>
</body>
</html>
